 // ==============================  IMPORT  ============================== //

 @import "../../styles/base.scss";


 // ==============================  LINK ITEM CONTENT  ============================== //

 .controlPosition {
     font-size: small;
     cursor: pointer;
     @include mainTransition;
     color: $disabled;
     font-weight: bold;
     user-select: none;
     display: flex;
     justify-content: center;
     align-items: center;

     a {
         text-decoration: none;
     }

     button {
         background-color: $background;
         border: none;
         color: $font;
         font-size: bolder;
         @include mainTransition;

         &:hover {
             color: #ff0000;
         }
     }
 }
 

 // ==============================  MEDIA QUERIES  ============================== //

 @media only screen and (max-width: 769px) {
     .controlPosition {
         height: 100%;

         a {
             font-size: 1.2rem;
         }
     }
 }