 // ==============================  IMPORT  ============================== //

 @import "../../styles/base.scss";


 // ==============================  SKILLS CONTENT  ============================== //

 .secSkills {
     width: min-content;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 2rem;
     grid-column: 2/3;

     .infoSkills {
         display: flex;
         flex-direction: column;
         gap: .5rem;

         h2 {
             width: max-content;
             display: flex;
             align-items: center;
             gap: .25rem;
         }

         p {
             width: 50%;
             font-style: italic;
         }
     }

     .skillsLevel {
         width: 100%;
         height: min-content;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         gap: .5rem;
     }
 }


 // ==============================  MEDIA QUERIES  ============================== //

 @media only screen and (max-width: 1020px) {
     .secSkills {
         .infoSkills {
             h2 {
                 width: 100%;
             }

             p {
                 width: 100%;
             }
         }

         .skillsLevel {
             flex-wrap: wrap;
         }
     }
 }