 // ==============================  IMPORT  ============================== //

 @import "../../styles/base.scss";


 // ==============================  FORM CONTENT  ============================== //

 .formContainer {
     form {
         width: min-content;
         height: 100%;
         display: flex;
         flex-direction: column;
         gap: 2rem;
         padding: 5rem 2.5rem;
         background-color: $background;
         z-index: 3;
         box-shadow: 3px 0px 10px #000000;

         .sendButton {
             text-decoration: none;
             border: none !important;
         }

         /* From uiverse.io by @mrhyddenn */
         button {
             text-transform: uppercase;
             letter-spacing: 0.1em;
             padding: 10px 30px;
             transition: 0.5s;
             position: relative;
             font-size: 17px;
             background-color: #333;
             border: none;
             color: $font;
             box-shadow: 0px 3px 10px #000000;

         }

         button:hover {
             letter-spacing: 0.25em;
             background: $main;
             color: $main;
             box-shadow: 0 0 25px $main;
         }

         button::before {
             content: '';
             position: absolute;
             inset: 2px;
             background: $background;
         }

         button span {
             position: relative;
             z-index: 1;
         }

         button i {
             position: absolute;
             inset: 0;
             display: block;
         }

         button i::before {
             content: '';
             position: absolute;
             border: 2px solid $main;
             width: 7px;
             height: 4px;
             top: -3.5px;
             left: 80%;
             background: $background;
             transform: translateX(-50%);
             transition: 0.5s;
         }

         button:hover i::before {
             width: 20px;
             left: 20%;
         }

         button i::after {
             content: '';
             position: absolute;
             border: 2px solid $main;
             width: 7px;
             height: 4px;
             bottom: -3.5px;
             left: 20%;
             background: $background;
             transform: translateX(-50%);
             transition: 0.5s;
         }

         button:hover i::after {
             width: 20px;
             left: 80%;
         }
     }
 }


 // ==============================  DEFAULT BROWSER  ============================== //

 input:focus,
 select:focus,
 textarea:focus,
 button:focus {
     outline: none;
 }


 // ==============================  TOAST  ============================== //

 .toastStyle {
     background-color: $background !important;
     color: $font !important;
 }

 .toastStyleSuccess {
     border: 2px solid #008000;
 }

 .toastStyleError {
     border: 2px solid #ff0000;
 }


 // ============================== AUTOCOMPLETE INPUT ============================== //

 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 textarea:-webkit-autofill,
 textarea:-webkit-autofill:hover,
 textarea:-webkit-autofill:focus,
 select:-webkit-autofill,
 select:-webkit-autofill:hover,
 select:-webkit-autofill:focus {
     border-bottom: 2px solid $disabled;
     -webkit-text-fill-color: $font !important;
     box-shadow: 0 0 0px 1000px $background inset;
     transition: background-color 5000s ease-in-out 0s;
 }


 // ==============================  MEDIA QUERIES  ============================== //

 @media only screen and (max-width: 425px) {

     .formContainer {
         form {
             width: 100%;
             box-shadow: 0px 0px 10px #000000;
         }
     }
 }