 // ==============================  FONTS  ============================== //

 @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
 // font-family: 'Varela Round', sans-serif;


 // ==============================  ROOT  ============================== //

 :root {
     --swiper-navigation-size: 2em;
     --swiper-theme-color: #5a0de8;
 }


 // ==============================  COLORS  ============================== //

 $main: #5a0de8;
 $background: #0e0e0e;
 $font: #FFFADE;
 $disabled: #303030;


 // ==============================  MIXINS  ============================== //

 @mixin glowPurple {
     box-shadow: 0 0 10px $main;
 }

 @mixin glowText($pass) {
     text-shadow: 0 0 10px $pass;
 }

 @mixin mainTransition($time:.3s) {
    transition: ease all $time;
 }