 // ==============================  IMPORT  ============================== //

 @import "../../styles/base.scss";


 // ==============================  SKILL BLOCKS CONTENT  ============================== //

 .skillsBlock {
     width: 100%;
     height: min-content;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 1rem;
 }