 // ==============================  IMPORT  ============================== //

 @import "../../styles/base.scss";


 // ==============================  CARDS CONTENT  ============================== //

 .cardSliderContainer {
     min-width: 100%;
     min-height: 100%;
     height: 100vh;
     position: relative;
     justify-content: center;
     align-items: center;
     display: flex;
     justify-content: center;

     .cardSliderBackground {
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         z-index: 1;
     }

     .textCard {
         z-index: 2;
         width: 100%;
         height: 100%;
         top: 0%;
         left: 0%;
         display: flex;
         background-color: rgba(0, 0, 0, .75);

         .buttonWorksContainer {
             margin-inline: auto;
             width: 80%;
             display: flex;
             justify-content: space-around;
         }

         .SkillWorksContainer {
             padding-top: 1em;
             width: 100%;
             display: flex;
             flex-wrap: wrap;
             justify-content: center;
             align-items: center;
             gap: 1em;

             img {
                 height: 2em;
                 width: 2em;
             }
         }

         .infoCard {
             width: 80%;
             margin: auto;
             margin-block: auto;
             height: fit-content;
             text-align: center;

             h3 {
                 width: max-content;
                 margin-inline: auto;
             }
         }
     }
 }

 .swiper-pagination-bullet {
     background: ($font);
 }

 .swiper-pagination-bullet-active {
     background: ($main);
 }

 // ==============================  MEDIA QUERIES  ============================== //

 @media only screen and (max-width: 500px) {
     .cardSliderContainer {
         .textCard {

             width: 100%;
             height: 100%;
             top: 0%;
             left: 0%;
             display: flex;
             background-color: rgba(0, 0, 0, .75);

             .buttonWorksContainer {
                 flex-direction: column;
                 gap: .5em;
             }

             .SkillWorksContainer {
                 padding-top: 1em;
                 width: 100%;
                 display: flex;
                 flex-wrap: wrap;
                 justify-content: center;
                 align-items: center;
                 gap: 1em;

                 img {
                     height: 1em;
                     width: 1em;
                 }
             }

             .infoCard {
                 p {
                     font-size: 1em;
                 }

                 h3 {
                     width: 100%;
                     font-size: 1.2em;
                     margin-inline: auto;
                 }
             }
         }
     }
 }