 // ==============================  IMPORT  ============================== //

 @import "../../styles/base.scss";


 // ==============================  CONTACT CONTENT  ============================== //

 .secContact {
     display: flex;
     justify-content: center;
     align-items: center;
     grid-column: 1/4;
     background-image: url(https://i.imgur.com/Yn4uC7L.gif);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     padding: 0 10%;

     .contactContainer {
         width: min-content;
         height: min-content;
         display: flex;
         background-color: rgba($color: $background, $alpha: .8);
         flex-direction: column;
         border: 2px solid $main;
         @include glowPurple;

         .contactIntro {
             width: 100%;
             background-color: $background;
             box-shadow: 0px 3px 10px #000000;
             z-index: 4;
         }

         h2 {
             margin: 1rem;
             width: max-content;
         }

         .contactInfoContainer {
             width: min-content;
             height: min-content;
             display: flex;
         }
     }
 }


 // ==============================  MEDIA QUERIES  ============================== //

 @media only screen and (max-width: 425px) {

     .secContact {
         .contactContainer {
             .contactIntro {
                 display: flex;
                 justify-content: center;
             }

             .contactInfoContainer {
                 flex-direction: column;
             }
         }
     }
 }