//  // ==============================  IMPORT  ============================== //

//  @import "../../styles/base.scss";


//  // ==============================  FORM CONTENT  ============================== //

//  .radioContainer {
//      background: $disabled;
//      border-radius: 9px;
//      margin: 0;
//      padding: 2px;
//      border: none;
//      outline: none;
//      display: grid;
//      grid-auto-flow: column;
//      grid-auto-columns: 1fr;
//      user-select: none;
//  }

//  .radioContainer .option {
//      position: relative;
//      cursor: pointer;
//  }

//  .radioContainer .option:hover input:not(:checked)+label span,
//  .radioContainer .option:active input:not(:checked)+label span,
//  .radioContainer .option:focus input:not(:checked)+label span {
//      opacity: .2;
//  }

//  .radioContainer .option:active input:not(:checked)+label span {
//      transform: scale(.95);
//  }

//  .radioContainer .option label {
//      position: relative;
//      display: block;
//      text-align: center;
//      padding: 3px 6vmin;
//      background: rgba(153, 17, 17, 0);
//      font-weight: 500;
//      color: rgba(0, 0, 0, 1);
//      font-size: 14px;
//  }

//  .radioContainer .option label::before,
//  .radioContainer .option label::after {
//      content: '';
//      width: 1px;
//      background: rgba(142, 142, 147, .15);
//      position: absolute;
//      top: 14%;
//      bottom: 14%;
//      border-radius: 10px;
//      will-change: background;
//      -webkit-transition: background .2s ease;
//      transition: background .2s ease;
//  }

//  .radioContainer .option label::before {
//      left: 0;
//      transform: translateX(-.5px);
//  }

//  .radioContainer .option label::after {
//      right: 0;
//      transform: translateX(.5px);
//  }

//  .radioContainer .option:first-of-type {
//      grid-column: 1;
//      grid-row: 1;
//      box-shadow: none;
//  }

//  .radioContainer .option:first-of-type label::before {
//      opacity: 0;
//  }

//  .radioContainer .option:last-of-type label::after {
//      opacity: 0;
//  }

//  .radioContainer .option input {
//      position: absolute;
//      top: 0;
//      left: 0;
//      right: 0;
//      bottom: 0;
//      width: 100%;
//      height: 100%;
//      padding: 0;
//      margin: 0;
//      -webkit-appearance: none;
//      -moz-appearance: none;
//      appearance: none;
//      outline: none;
//      border: none;
//      opacity: 0;
//  }

//  .radioContainer .selection {
//      background: rgba(255, 255, 255, 1);
//      border: .5px solid rgba(0, 0, 0, 0.04);
//      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 1px 0 rgba(0, 0, 0, 0.04);
//      border-radius: 7px;
//      grid-column: 1;
//      grid-row: 1;
//      z-index: 2;
//      will-change: transform;
//      -webkit-transition: transform .2s ease;
//      transition: transform .2s ease;
//  }

//  .radioContainer .option label span {
//      display: block;
//      position: relative;
//      z-index: 2;
//      -webkit-transition: all .2s ease;
//      transition: all .2s ease;
//      will-change: transform;
//  }

//  .radioContainer .option input:checked+label::before,
//  .radioContainer .option input:checked+label::after {
//      background: $disabled;
//      z-index: 1;
//  }

//  .radioContainer .option input:checked+label {
//      cursor: default;
//  }
// ==============================  IMPORT  ============================== //

@import "../../styles/base.scss";


// ==============================  FORM CONTENT  ============================== //

.radioContainer {
    background-color: $disabled;
    border-radius: 9px;
    margin: 0;
    padding: 2px;
    border: none;
    outline: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    user-select: none;
    .option{
        background-color: red;
        display: flex;
        justify-content: center;
        label{
            text-align: center;
            width: 100%;
        }
    }
}


[type=checkbox], [type=radio], legend{
    display: none;
}







.radioContainer .option label span {
    display: block;
    position: relative;
    z-index: 2;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    will-change: transform;
}

.radioContainer .option input:checked+label::before,
.radioContainer .option input:checked+label::after {
    background: var(--background);
    z-index: 1;
}

.radioContainer .option input:checked+label {
    cursor: default;
}