// ==============================  IMPORT  ============================== //

@import "../../styles/base.scss";


// ==============================  FORM CONTENT  ============================== //

.radioContainer {
    border-radius: 9px;
    margin: 0;
    padding: 2px;
    border: none;
    outline: none;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    user-select: none;
    isolation: isolate;
    border: 2px solid $disabled;

    .option {
        display: flex;
        justify-content: center;
        transition: ease all .25s;

        label {
            text-align: center;
            width: 100%;
            cursor: pointer;
            transition: ease all .25s;
            z-index: 900;
        }

        input:checked+label {
            position: relative;
            cursor: default;
            background-color: $main;
            border-radius: 7px;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1000;
                inset: 0;
            }
        }

        [type=radio],
        legend {
            display: none;
        }
    }
}

// ==============================  MEDIA QUERIES  ============================== //


@media only screen and (max-width: 426px) {
    .radioContainer {
        .option {
            label {
                font-size: .8em;
                padding: .2em .5em;
            }
        }
    }
}