@import "../../styles/base.scss";

nav {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    border-bottom: 2px solid $acc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $black;
    padding: 20px;
    z-index: 10;
    @include glowPurple;


    .logo {
        text-decoration: none;
        color: inherit;

        &::hover {
            color: $white !important;
        }}

        .contactLogos {
            width: min-content;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }