@import "../../styles/base.scss";

nav {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    border-bottom: 2px solid $acc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    .contactLogos {
        width: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        img{
            height: 1.5rem;
            width: auto;
            transition: ease all .3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}