 // ==============================  IMPORT  ============================== //

 @import "../../styles/base.scss";


 // ==============================  WORKS CONTENT  ============================== //

 .secWorks {
     min-height: 120vh;
     height: 100vh;
     display: flex;
     flex-direction: column;
     grid-column: 2/3;
     gap: .5em;

     h2 {
         width: max-content;
     }

    }
