 // ==============================  IMPORT  ============================== //

 @import "../../styles/base.scss";


 // ==============================  CONTACT INFO CONTENT  ============================== //

 .infoContactContainer {
     width: min-content;

     .infoContactLinks {
         display: flex;
         flex-direction: column;
         justify-content: center;
         gap: 2rem;
         height: 100%;
         padding: 4em;
         font-size: 1.2em;
     }
 }


 // ==============================  MEDIA QUERIES  ============================== //

 @media only screen and (max-width: 425px) {

     .infoContactContainer {
         width: 100%;
         overflow: hidden;

         .infoContactLinks {
             width: 100%;
             flex-direction: row;
             justify-content: space-between;
             gap: 0;
             padding: 0;

             .contactLinkContainer {
                 width: max-content !important;
                 min-width: 0;
                 justify-content: space-between;
                 padding: 1rem;

                 .contactLinkMail,
                 .contactLinkWhatsApp,
                 .contactLinkLinkedIn,
                 .contactLinkGitHub {
                     &::after {
                         content: "";
                         display: none !important;
                     }
                 }
             }
         }
     }
 }