@import "../../styles/base.scss";

.infoContactContainer {
    width: min-content;

    .infoContactLinks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        height: 100%;
        padding: 4em;
        font-size: 1.2em;


        .contactLinkContainer {
            width: max-content !important;
            min-width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            cursor: pointer;
            transition: ease all .3s;
            text-decoration: none;
            color: inherit;
            @include glowText($black);
            z-index: 4;

            &:hover {
                transform: scale(1.1);

                .contactLinkMail {
                    @include glowText(#DE4032);
                    transition: ease all .3s;

                }

                .contactLinkWhatsApp {
                    @include glowText(#47C155);
                    transition: ease all .3s;

                }

                .contactLinkLinkedIn {
                    @include glowText(#0071AE);
                    transition: ease all .3s;
                }

                .contactLinkGitHub {
                    @include glowText(#F2F2F2);
                    transition: ease all .3s;
                }
            }




        }

    }





}