// ==============================  IMPORT  ============================== //

@import "../../styles/base.scss";

@mixin hoverColor($color) {
  &:hover {
    filter: drop-shadow(0 0 25px $color) !important;
    stroke: $color !important;
  }
}

// ==============================  SKILLS COLORS  ============================== //

.htmlColor {
  @include hoverColor(#d84924);
}

.cssColor {
  @include hoverColor(#2760e5);
}

.sassColor {
  @include hoverColor(#c36192);
}

.bootstrapColor {
  @include hoverColor(#7410ec);
}

.tailwindColor {
  @include hoverColor(#35b3eb);
}

.javascriptColor {
  @include hoverColor(#ead41c);
}

.reactjsColor {
  @include hoverColor(#5ccfee);
}

.markdownColor {
  @include hoverColor(#3f3f3f);
}
.gitColor {
  @include hoverColor(#e44d30);
}

.githubColor {
  @include hoverColor(#f2f2f2);
}

.jqueryColor {
  @include hoverColor(#1161a0);
}

.typescriptColor {
  @include hoverColor(#2e72bc);
}

.firebaseColor {
  @include hoverColor(#f2c129);
}

.nodejsColor {
  @include hoverColor(#7cc327);
}

.expressjsColor {
  @include hoverColor(#ffffff);
}

.mongodbColor {
  @include hoverColor(#0fa14c);
}

.mongooseColor {
  @include hoverColor(#890000);
}

.jwtColor {
  @include hoverColor(#fb015b);
}

.sqlColor {
  @include hoverColor(#1478ee);
}

.mysqlColor {
  @include hoverColor(#006f88);
}

.reduxColor {
  @include hoverColor(#7248b6);
}

.nextjsColor {
  @include hoverColor(#ffffff);
}

// ==============================  SKILLS CONTENT  ============================== //

.skillContainer {
  width: max-content;

  .hexagonContainer {
    position: relative;
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hexagonSVG {
      fill: $background;
      @include mainTransition;
      overflow: visible;

      path {
        stroke: $main;
        stroke-width: 5px;
        @include mainTransition;
        filter: drop-shadow(15px 5px 15px #000000);

        &:hover {
          fill: #1b1b1b;
        }
      }
    }

    .iconSkill {
      position: absolute;
      height: 30%;
      width: 30%;
      pointer-events: none;
    }
  }

  h6 {
    min-width: 6em;
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
  }
}

// ==============================  MEDIA QUERIES  ============================== //

@media only screen and (max-width: 400px) {
  .skillContainer {
    .hexagonContainer {
      width: 8em;
      height: 8em;

      .iconSkill {
        height: 25%;
        width: 25%;
      }
    }
  }
}
