 // ==============================  IMPORT  ============================== //

 @import "../../styles/base.scss";


 // ==============================  CONTACT LINKS CONTENT  ============================== //

 .contactLinkContainer {
     width: 120px;
     min-width: 50%;
     display: flex;
     align-items: center;
     justify-content: start;
     gap: 1rem;
     cursor: pointer;
     text-decoration: none;
     color: inherit;
     @include mainTransition;
     @include glowText($background);
     z-index: 4;

     &:hover {
         color: inherit !important;
     }

     .contactLinkAfter {
         position: relative;
         @include mainTransition;

         &::after {
             content: attr(data-contact);
             position: absolute;
             height: 100%;
             width: 100%;
         }
     }

     &:hover {
         transform: scale(1.1);

         .linkMAIL {
             @include glowText(#DE4032);
         }

         .linkWSP {
             @include glowText(#47C155);
         }

         .linkLND {
             @include glowText(#0071AE);
         }

         .linkGH {
             @include glowText(#F2F2F2);
         }
     }
 }


 // ==============================  MEDIA QUERIES  ============================== //

 @media only screen and (max-width: 425px) {
     .contactLinkContainer {
         width: max-content !important;
         min-width: 0;
         justify-content: space-between;
         padding: 1rem;

         .contactLinkAfter {
             &::after {
                 content: "";
             }
         }
     }
 }