 @import "./styles/base.scss";

 html {
     font-size: 16px;
     scroll-behavior: smooth;
 }

 ::selection {
     background-color: $acc;
     color: $white;
 }

 body {
     background-color: $black;
     color: $white;
     font-family: "Varela Round", sans-serif;
     min-height: 100vh;
 }